spring:
  application:
    name: pagos
  profiles:
    active: dev

---
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sistemapagotarjeta?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: null
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
  flyway:
    enabled: false