.action-btn {
  display: block;
  width: 250px;
  margin: 10px auto;
  padding: 12px;
  font-size: 16px;
  background-color: #3f8531;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.action-btn:hover {
  background-color: #0056b3;
}

.extra-options {
  margin-top: 30px;
  text-align: center;
}

.options {
  
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  /* permite que salten de línea si no caben */
  display: flex !important;
  column-gap: 2px;     /* <-- aquí el espacio horizontal y vertical */
}