* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
background-image: url("../IMG/background-dunamys.png");
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  width: 100%;
  padding: 20px 40px;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
}

.form-box {
  background-color: #5a5a5a;
  padding: 35px;
  border-radius: 8px;
  width: 300px;
  color: white;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
}

textarea {
  height: 80px;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

.btn-enviar {
  width: 100%;
  padding: 12px;
  background-color: #1c6633; /* verde esmeralda */
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-enviar:hover {
  background-color: #155128;
}

.map-box iframe {
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
